body {
  margin: 0;
  height: 100vh;
  background-color: black;
  overflow: hidden;
}
span {
  /*icon finder*/
  background: url(https://cdn4.iconfinder.com/data/icons/general-office/91/General_Office_54-256.png);
  width: 100px;
  height: 100px;
  position: absolute;
  pointer-events: none; /*what?*/
  background-size: cover;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: animate 3.01s linear;
}

@keyframes animate {
  0% {
    transform: translateY(-50%, -50%) rotate(0deg);
    opacity: 0.6;
    filter: hue-rotate(0);
  }
  100% {
    transform: translate(-50%, -5000%) rotate(1000deg);
    opacity: 0;
    filter: hue-rotate(720deg);
  }
}
